<launch>

  <node pkg = "opu_dsb_rx"
  	name = "sis_bias_vol_reader"
	type = "relay.py">
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "sis_bias_cur_reader"
	type = "relay.py">
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "sis_bias_vol_writer"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "sis_bias_vol_locker"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "pm_power_reader"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "pm_ave_reader"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "pm_ave_cmd_writer"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "chopper_onoff_writer"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "chopper_onoff_reader"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "chopper_speed_reader"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "chopper_speed_writer"
	type = "relay.py" />
  </node>

  <node pkg = "opu_dsb_rx"
  	name = "chopper_onoff_locker"
	type = "relay.py" />
  </node>

</launch>
