<launch>
  <!--
  <node pkg = "opu_dsb_rx"
        name = "sis_bias_vol_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/sis_bias_vol_reader.conf" />

  </node>

  <node pkg = "opu_dsb_rx"
        name = "sis_bias_cur_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/sis_bias_cur_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "sis_bias_vol_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/sis_bias_vol_writer.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "sis_bias_vol_locker"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/sis_bias_vol_locker.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "pm_power_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/pm_power_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "pm_ave_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/pm_ave_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "pm_ave_cmd_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/pm_ave_cmd_writer.conf" />
  </node>
  -->
  <node pkg = "opu_dsb_rx"
        name = "chopper_jog_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_jog_onoff_writer.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_ptp_onoff_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_ptp_onoff_writer.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_onoff_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_onoff_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_speed_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_speed_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_speed_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_speed_writer.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_degree_reader"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_degree_reader.conf" />
  </node>

  <node pkg = "opu_dsb_rx"
        name = "chopper_degree_writer"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_degree_writer.conf" />
  </node>

  <!--
  <node pkg = "opu_dsb_rx"
        name = "chopper_onoff_locker"
        type = "relay.py">
    <param name = "config_file"
           value = "$(find opu_dsb_rx)/relay_conf/chopper_onoff_locker.conf" />

  </node>
  -->
</launch>
